{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 xl7 offset-xl2">
        <ul class="tax-list collapsible z-depth-0">
            {% for tag in terms %}
            <li class="taxonomy">
                <div class="collapsible-header">{{ tag.name | title }}</div>
                <div class="collapsible-body content">
                    <ul>
                        {% for page in tag.pages %}
                        <li class="tax-entry">
                            <div class="clearfix">
                                <div class="date">({{ page.date | date(format="%e %b %Y %R") }})</div>
                                <a class="tax-link" href="{{ page.permalink }}">{{ page.title }}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
    });
</script>
{% endblock scripts %}