<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/main.css" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>

<body>
    <header>{% block header %}{% endblock header %}</header>
    {% block content %}{% endblock content %}
    <footer>{% block footer %}{% endblock footer %}</footer>
    <script type="text/javascript" src="/materialize.min.js"></script>
</body>

</html>