{% macro toc_children(children) %}
<ul class="section table-of-contents">
    {% for child in children %}
    <li>
        <a href="#{{ child.id | safe }}">{{ child.title }}</a>
        {% if child.children %}
        {{ self::toc_children(children=child.children) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro input %}

{% macro google_analytics(id) %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ id }}');
</script>
{% endmacro google_analytics %}